<div class="ui-g">
  <p-card title="List of Quotations">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Search"
             (input)="quotesDataTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
    <p-table class="table table-bordered" #quotesDataTable [columns]="dataTableColumns" [value]="quotes"
             [paginator]="true" [rows]="10"
             [responsive]="true">

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{col.header}}</span>
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>

      </ng-template>
    </p-table>
    <p-footer>
      <button pButton class="btn btn-block btn-primary" type="button" label="Create New"></button>
    </p-footer>
  </p-card>


</div>
